body {
  background: url("../Images/bg_first_screen1.jpg") no-repeat;
  background-size: 100% 100%;
}

.App {
  text-align: center;
}

.cardBox {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 275px;
  max-width: 35%;
  margin: auto; 
}

.card-text {
  color: #31a37c;
  text-align: justify;
}

.card {
  min-width: 100%;
}

.input-div {
  margin: 5%;
}
.error-msg {
  margin-block: 0;
  text-align: left;
  margin-left: 30px;
  color: red;
}

#Xi, #Xi:focus, #Xi:active , #Yi, #Yi:focus, #Yi:active{
  outline: none;
  background-color: transparent;
  border-radius: 2rem;
  width: 80%;
  margin-left: 10px;

  /*input Box Design*/
  padding: 15px 0 15px 30px;
  border-color: white;
  color: #31a37c;
  font-weight: 500;
  font-size: medium;
  margin: 10px;
}

.text-field {
  display: flex;
  flex-direction: row;
}

.navigation-buttons {
  display: flex;
  flex-direction: row;
  margin: 0% 5% 0% 5%;
  position: absolute;
  bottom: 5%;
  width: 90%;
}

.inputScreen-Next {
  justify-content: flex-end;
}

.optionScreen-Next {
  justify-content: space-between;
}

.button {
  font-weight: bold;
  font-size: larger;
}

.options {
  width: 100%;
  margin: 5%;
}

.header {
  color: #c3c746;
}

.hide {
  display: hide;
}

.show {
  display: block;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.output-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 94%;
}

.outputcard_width {
  max-width: 70%;
}

.output_card {
  padding: 20px 20px 50px 20px;
  box-sizing: border-box;
}

.datagrid {
  height: 85% !important;
}

.output_writings {
  margin: auto;
  width: 40%;
}

.output_writings p {
  font-size: large;
  font-weight: 600;
}

.MuiDataGrid-columnHeaderDraggableContainer {
  display: flex;
  justify-content: center;
}

.MuiToolbar-root, .MuiToolbar-root .MuiButtonBase-root {
  color: yellow !important;
}

.MuiDataGrid-cell, 
.MuiDataGrid-footerContainer, 
.MuiDataGrid-columnHeaders {
  border-color: green !important;
}

.MuiDataGrid-columnSeparator svg {
  fill: green !important;
}

.MuiDataGrid-footerContainer {
  border-top: none !important;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 1px) and (max-width: 425px) {
  body {
    background-size: auto 100%;
  }

  .cardBox {
    max-width: 90% !important;
    max-height: 200%;
  }

  .card {
    height: 80% !important;
    width: 90% !important;
  }

  .outputcard_width {
    height: 200%  !important;
  }

  .output-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }  

  .datagrid {
    height: 100% !important;
  }

  .output_writings {
    width: 100%;
    margin: 15% auto;
  }

  .MuiDataGrid-main {
    height: 55vh;
  }
}

@media only screen and (min-width: 426px) and (max-width: 767px){
  .cardBox {
    max-width: 60% !important;
  }

  .card {
    height: 85% !important;
    width: 60% !important;
  }

  .outputcard_width {
    max-width: 80%  !important;
  }

  .output_writings {
    margin: auto auto;
    width: 40%;
  }

  .output_writings h2 {
    font-size: medium !important;
    font-weight: 600 !important;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px){
  .cardBox {
    max-width: 50% !important;
  }

  .card {
    height: 85% !important;
    width: 90% !important;
  }

  .datagrid {
    height: 100% !important;
  }

  .outputcard_width {
    max-width: 70%  !important;
  }

  .output_writings {
    margin: auto auto auto 20px;
    max-width: 40% !important;
  }

  .output_writings p {
    font-size: medium !important;
    font-weight: 500 !important;
  }
}